<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bb4d3fd2-2c7d-4cf2-9a36-c7025c552def/resourceGroups/AppControle/providers/Microsoft.Web/sites/AppControleProgramacao</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appcontroleprogramacao-dnguc9grc9d5gpdn.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ff4886f1-b472-41db-acf5-281d49f4d43f</ProjectGuid>
    <PublishUrl>https://appcontroleprogramacao-dnguc9grc9d5gpdn.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$AppControleProgramacao</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>